.input {
  border-color: #54bab9;
  border-width: 2px;
  box-shadow: 3px 3px #54bab9;
  outline: none;
}
.input:focus {
  border-color: #54bab9;
  border-width: 2px;
  box-shadow: 3px 3px #54bab9;
  outline: none;
}
